<view>
  <content has-header='true' has-tabs='true' padding='true'>
    <div>
		<center><div id='dsTitle'><h3>DataSets</h3></div></center>
		<ul class='list' ng-repeat='set in myDataSets'>
			<!--li class='item item-toggle'-->
			<li class='item item-checkbox'>
				{{ set.type }}
				<div class='range'>
   					<input type='range' ng-model='myDataSets[set.resource].range' ng-change='saveRange();' min='0' max='10'/>
 				</div>
				<!--label class='toggle toggle-calm'-->
				<label class='checkbox'>
					<input type='checkbox' ng-model='myDataSets[set.resource].used' ng-change='load(set);'/>
					<div class='track'>
         				<div class='handle'></div>
       				</div>
				</label>
			</li>
		</ul>
    </div>
   </content>
</view>
