<view>
  <content has-header='true' has-tabs='true' padding='true'>
    <div>
		<center><h3>DataSets</h3></center>
		<ul class='list' ng-repeat='set in allDataSets'>
			<li class='item item-toggle'>
				{{ set.name }}
				<div class='range'>
   					<input type='range' ng-model='savedValues[set.name].range' ng-change='saveRange();' min='0' max='10'/>
 				</div>
				<label class='toggle toggle-calm'>
					<input type='checkbox' ng-model='savedValues[set.name].used' ng-change='load(set);'/>
					<div class='track'>
         				<div class='handle'></div>
       				</div>
				</label>
			</li>
		</ul>
    </div>
   </content>
</view>
